<div class="row" ng-controller="stockCtrl as vm">
    <div class="col-sm-10 col-sm-offset-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>finished</th>
                    <th>par</th>
                    <th>checked</th>
                    <th>text</th>
                    <th>current</th>
                    <th>location</th>
                    <th>quantity</th>
                    <th>updated on</th>
                    <th>vendor</th>
                    <th>created at</th>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-hide="stock.checked" ng-repeat="stock in vm.stocks">
                    <td><input type="checkbox" ng-model="stock.checked"></td>
                    <td>{{stock.par}}</td>
                    <td>{{stock.checked}}</td>
                    <td>{{stock.text}}</td>
                    <td>{{stock.current_count}}</td>
                    <td>{{stock.location}}</td>
                    <td>{{stock.order_quantity}}</td>
                    <td>{{stock.updatedAt | date:'short'}}</td>
                    <td>{{stock.vendor}}</td>
                    <td>{{stock.createdAt | date:'short'}}</td>
                    <td ui-sref="update({id: stock.id})"><i class="glyphicon glyphicon-pencil"></i></td>
                    <td ng-click="vm.remove(stock.id)"><i class="glyphicon glyphicon-trash"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>