<div class="row" ng-controller="upsertCtrl as vm">
    <form novalidate class="col-sm-8 col-sm-offset-2 form-horizontal">
        <!-- ADD -->
        <div ng-show="!vm.isEditing" class="form-group">
            <label for="text">text:</label>
            <input class="form-control" type="text" ng-model="vm.stock.text">
        </div>
        <div ng-show="!vm.isEditing" class="form-group">
            <label for="par">par:</label>
            <input class="form-control" type="number" ng-model="vm.stock.par">
        </div>
        <div ng-show="!vm.isEditing" class="form-group">
            <label for="order_quantity">order_quantity:</label>
            <input class="form-control" type="number" ng-model="vm.stock.order_quantity">
        </div>
        <div ng-show="!vm.isEditing" class="form-group">
            <label for="location">location:</label>
            <select class="form-control" type="number" ng-model="vm.stock.location">
                <option value="Raleigh">Raleigh</option>
                <option value="Raleigh">Cary</option>
                <option value="Brookside">Brookside</option>
            </select>
        </div>
        <div ng-show="!vm.isEditing" class="form-group">
            <label for="vendor">vendor:</label>
            <input class="form-control" type="text" ng-model="vm.stock.vendor">
        </div>
        <!-- EDIT -->
        <div ng-show="vm.isEditing" class="form-group">
            <label for="text">text:</label>
            <input class="form-control" type="text" ng-model="vm.stock.text">
        </div>
        <div ng-show="vm.isEditing" class="form-group">
            <label for="current_count">current_count:</label>
            <input class="form-control" type="text" ng-model="vm.stock.current_count">
        </div>
        <div class="row" style="text-align: center">
            <button class="btn btn-large btn-primary" ng-click="vm.upsert(vm.stock);vm.$state.go('home')">Submit</button>
        </div>
    </form>
</div>